.root {
    background-color: #fafafa;
    border-left: solid 1px gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(250px, 0 ,0);
    transition: transform 0.3s ease;
    width: 250px;
}

.title {
    border-bottom: solid 1px lightgrey;
    font-size: 1em;
    padding: 4px 8px;
}

.list {
    flex-grow: 1;
    overflow: auto;
}

.buttons {
    align-items: center;
    border-top: solid 1px lightgrey;
    box-sizing: border-box;
    color: rgb(0, 125, 255);
    display: flex;
    font-size: 1.5em;
    height: 32px;
    justify-content: space-around;
}

.button {
    cursor: pointer;
}

.button:active {
    background-color: rgba(0, 125, 255, 0.2);
}

.disabled {
    color: #888 !important;
    pointer-events: none;
}