.root { height: 100%; overflow: hidden; width: 100%; }
.root svg { animation: spinnerRotate 1.5s linear infinite; height: 100%; width: 100%; }
.root circle { animation: spinnerDash 1.5s ease-in-out infinite 0s, spinnerColor 6s ease-in-out infinite -0.75s; stroke-dasharray: 1,200; stroke-dashoffset: 0; stroke-linecap: round; fill: none; stroke-width:5; }
@keyframes spinnerRotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes spinnerDash { 0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89,200; stroke-dashoffset: -45; } 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; } }
@keyframes spinnerColor { 100%, 0% { stroke: #1DA760; } 50% { stroke: #4285F4; } }

